asgiref==3.8.1
certifi==2025.4.26
cffi==1.17.1
cryptography==44.0.2
Django==5.1.7
django-bootstrap5==25.1
django-db-connection-pool==1.2.5
django-elasticsearch-dsl==7.4
django-elasticsearch-dsl-drf==0.22.5
django-nine==0.2.7
django-redis==4.1.0
django-simpleui==2025.1.13
djangorestframework==3.16.0
elastic-transport==8.17.1
elasticsearch==7.17.3
elasticsearch-dsl==7.4.1
greenlet==3.2.0
gunicorn==21.2.0
msgpack-python==0.5.6
mysql==0.0.3
mysql-connector-python==9.2.0
mysqlclient==2.2.7
packaging==24.2
pillow==11.2.1
platformshconfig==2.4.0
pycparser==2.22
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
redis==5.2.1
setuptools==75.8.0
six==1.17.0
SQLAlchemy==2.0.40
sqlparams==6.2.0
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.1
urllib3==1.26.20
wheel==0.45.1
